<h2>About Spotify</h2>
<p>Spotify is a digital music, podcast, and video streaming service that gives you access to millions of songs and other content from artists all over the world. Basic functions such as playing music are totally free, but you can also choose to upgrade to Sepotipai Premium.</p>

<div class="row">
  <div class="column">
    <div class="card">
      <h3>1 Mil+</h3>
      <p>Artist</p>
    
    </div>
  </div>

  <div class="column">
    <div class="card">
      <h3>50 Mil+</h3>
      <p>Tracks</p>
     
    </div>
  </div>
  
  <div class="column">
    <div class="card">
      <h3>3 Bil+</h3>
      <p>Playlist</p>
     
    </div>
  </div>
  
  <div class="column">
    <div class="card">
      <h3>100 Mil+</h3>
      <p>Subscribers</p>
      
    </div>
  </div>
</div>